<!DOCTYPE html>
<html>
  <title>Verified</title>
  <body>
    <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="static/index.css">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="static/face-detection.png" alt="logo" width="40" height="40">
        <label for="appName" id="appName" class="ml-3 text-white" >Face Recognition Based Attendance System</label>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Register</a>
            <a class="nav-item nav-link" href="/attendancePage">Attend</a>
          </div>
        </div>
    </nav>
    <div class="al-items">
        <label class="d-flex flex-content justify-content-center">Hi kunal, <br>Your attendance has been successsfuly verified.</label> 
    </div>
</body> 
</html>
  